{% extends 'base.html' %}

{% block content %}
    <h2>List of Trainees</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Course</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            {% for trainee in trainees %}
                <tr>
                    <td>{{ trainee.name }}</td>
                    <td>{{ trainee.email }}</td>
                    <td>{{ trainee.course.name }}</td>
                    <td>

                            <img src=" /media/{{ trainee.image }}" alt="Image of {{ trainee.name }}" width="100">

                    </td>
                </tr>

            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'add_trainee' %}">Add Trainee</a>
      <a href="{% url 'update_trainee' trainee.pk %}">Update</a>
     <a href="{% url 'delete_trainee' trainee.pk %}">Delete Trainee</a>
{% endblock %}
