{% extends 'parent.html'%}
{%block tit%}
Trainee - List
{%endblock%}
{%block content%}
<h1>List Trainees</h1>
<table border="1" width="100%">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Profile Image</th>
        <th>Created at</th>
        <th>Action</th>
        {%for trainee in  trainees%}
            <tr>
                    <td>{{trainee.id}} {{trainee.isactive}}</td>
                    <td>{{trainee.name}}</td>
                    <td>{{trainee.email}}</td>
                    <td>
                        <img src="{{trainee.image}}" alt="{{trainee.image}}"/>
                    </td>
                    <td>{{trainee.createdate}}</td>
                    <td>
                        <a href="{%url 'trupdate' trainee.id%}">Update</a>
                        <a href="{%url 'trdelete' trainee.id%}">Delete</a>

                    </td>
            </tr>
        {%endfor%}
    </tr>
</table>
{%endblock%}